# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# uv
.uv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

#Documentacion 
docs/

# Logs (solo si se activa el file handler en config/logging.yaml)
logs/

# Env files
.env
